.lander-field__value {
  box-sizing: content-box;
  display: inline-block;
}
.lander-field__value[contenteditable="true"], .lander-field:hover .lander-field__value {
  box-shadow: 0px 0px 25px 4px #fff;
  border-radius: 3px;
}

.lander-field {
  display: inline-block;
  position: relative;
  transition: background-color 0.2s;
}

/* Make empty fields clickable and visible */
.lander-field[contenteditable="true"] {
  min-width: 20px;
}

/* General buttons */
.lander-btn {
  display: block;
  overflow: hidden;
  height: 40px;
  width: 40px;
  color: transparent;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: none;
  position: absolute;
  cursor: pointer;
}

/* Animate the background when editing is toggled */
.lander-field.active {
  background-color: #D9B97D;
  transition: background-color 0.01s;
}

/* Outline on editable fields */
.lander-field[contenteditable='true'] {
  outline: 1px solid #D9B97D;
}

/* Individual buttons */
.lander-btn--edit {
  background-image: url("../images/pencil.svg");
  top: 0px;
  right: -20px;
  background-color: #2D2D2D;
}

.lander-btn--save {
  background-image: url("../images/tick.svg");
  top: 0px;
  right: -20px;
  background-color: #5E8248;
}

.lander-btn--cancel {
  background-image: url("../images/cancel.svg");
  top: 0px;
  right: 25px;
  background-color: #854242;
}

.lander-field:hover:not(.lander-field--editing) .lander-field__edit-btn {
  display: inline-block;
}

.lander-field--editing .lander-field__save-btn,
.lander-field--editing .lander-field__cancel-btn {
  display: block;
}

.field--type-lander .field__item, .field--type-lander.field__item {
  position: relative;
}
